* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

nav {
  height: calc(100vh - 10px);
  width: 70px;
  background-color: #303030;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;

  img {
    width: 50px;
    cursor: pointer;
  }
}

#filesystem {
  height: 100vh;
  width: 250px;
  min-width: 100px;
  max-width: 350px;
  resize: horizontal;
  overflow: auto;
  background-color: #404040;

  h1 {
    padding: 4px;
    font-size: 20px;
    text-align: center;
    color: #DDDDDD;
    font-weight: 10;
  }

  button {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #BBBBBB;
  }

  hr {
    border: 0.5px solid black;
  }

  p {
    padding: 4px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#filesystem::-webkit-resizer {
  display: none;
  cursor: ew-resize;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.textField {
  outline: 0;
  padding: 5px;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #AAAAAA;
  width: 100%;
  height: calc(100vh - 40px);
}

.tabList {
  height: 30px;
  width: 100%;
  display: flex;
  background-color: #CCCCCC;
}

.tab {
  height: 30px;
  background-color: #999999;
  padding-inline: 5px;
  border-left: 1px solid grey;
  display: grid;
  place-content: center;
  cursor: pointer;

  &:hover {
    background-color: #888888;
  }
}

.tab:first-of-type {
  border-left: 0;
}